<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Свободные номера</title>
</head>
<body>
     <h1>Свободные номера</h1>
    <form action="{% url 'available_rooms' %}" method="GET">
        <label for="hotel_id">Hotel ID:</label>
        <input type="text" id="hotel_id" name="hotel_id" required><br><br>

        <label for="start_date">Дата заезда:</label>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <label for="end_date">Дата выезда:</label>
        <input type="date" id="end_date" name="end_date" required><br><br>

        <input type="submit" value="Отправить">
    </form>
    <h1>Свободные номера</h1>
    {{ html_table | safe }}
</body>
</html>